<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Quick Links : <a href="{% url 'pages:homepage' %}" class="text-white-50">Home</a> - <a href="{% url 'pages:page_list' %}" class="text-white-50">Pages</a>
            </div>
            <div class="col-md-4">
                Contact:  <a href="mailto:info@cmsapp.com" class="text-white-50">info@cmsapp.com</a>
            </div>
            <div class="col-md-4">2025 AltusPath LLC. All rights reserved</div>
        </div>
   </div>
</footer>
