<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About</h5>
                <p>Django CMS - A modern, containerized content management system.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'pages:homepage' %}" class="text-white-50">Home</a></li>
                    <li><a href="{% url 'pages:page_list' %}" class="text-white-50">Pages</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p class="text-white-50">info@cmsapp.com</p>
            </div>
        </div>
        <hr class="bg-white-50">
        <p class="text-center text-white-50 mb-0">&copy; 2025 CMS Application. All rights reserved.</p>
    </div>
</footer>
